<nav mat-tab-nav-bar>
  <a mat-tab-link
    (click)="onClick1()"
    [satRouterLinkActive]="path1 + ':' + index"
    [routerOutlet]="outlet"
    #rl1="satRouterLinkActive"
    [active]="rl1.isActive$ | async"
    >
    {{path}}1
  </a>

  <a mat-tab-link
    (click)="onClick2()"
    [satRouterLinkActive]="path2 + ':' + index"
    [routerOutlet]="outlet"
    #rl2="satRouterLinkActive"
    [active]="rl2.isActive$ | async"
    >
    {{path}}2
  </a>
</nav>
<sat-router-outlet #outlet [name]="'' + index"></sat-router-outlet>

