<sat-router-outlet #outlet></sat-router-outlet>
<nav mat-tab-nav-bar class="mat-tab-group-inverted-header">
  <a mat-tab-link
    (click)="onActivated('files')"
    [satRouterLinkActive]="'files'"
    [routerOutlet]="outlet"
    #rl1="satRouterLinkActive"
    [active]="rl1.isActive$ | async"
    >
    Навигация
  </a>

  <a mat-tab-link
    (click)="onActivated('git')"
    [satRouterLinkActive]="'git'"
    [routerOutlet]="outlet"
    #rl2="satRouterLinkActive"
    [active]="rl2.isActive$ | async"
    >
    git
  </a>
  </nav>





